<div id="activites" class="bordureGrise">
 <%
	if (activites!== undefined && activites.length==0){ %>
	<%=translation.PROFIL_NO_ACTIVITY%>

	<% } else { %>
	<%=translation.PROFIL_ACTIVITY_LIST_TITLE%>
<p>
      <table id="listeActiviteeParticipant" class="tableau">
	      <thead>
	      <tr>
	          <td><%=translation.PROFIL_ACTIVITY_LIST_NAME%></td>
	         <!-- <td>Materiel Necessaire</td> -->
	          <td><%=translation.PROFIL_ACTIVITY_LIST_PLACE%></td>
	          <td><%=translation.PROFIL_ACTIVITY_LIST_WALK%></td>
	      </tr>
	      </thead>
	      <tbody>
	          <%
	          if (activites!== undefined){
	          activites.forEach(function(activite) { %>
	        <tr id="<%= activite._id %>">
	          <td><%= activite.nom %></td>
	        <!--  <td><%= activite.materielNecessaire %></td> -->
	          <td><% if (activite._lieux!=null){
		            activite._lieux.forEach(function(lieu) {
		              %>
		              <%= lieu.nom %>
		              <%
		              }); }
		             %>
		         </td>
		        <td>
		        <% if (villagesContenantActivite!=null){
		        	villagesContenantActivite.forEach(function(village) {
			            village._activites.forEach(function(activitevillage) {
			            if(activitevillage!=null && activitevillage.equals(activite._id)){
			              %>
			              <a href="/village?villageId=<%= village._id %>&activiteId=<%=activitevillage%>"> <button><%= village.nom %></button></a>
			              <%
		          }  });   }); }
		             %>
		          </td>    
		       <%  }) };
			%>
	      </tbody>
	  </table>
	</p>
	  <% }%>
  </div>
