<%
	if (!(villagesOrganisateurs!== undefined && villagesOrganisateurs.length==0)){ %>
<div id="villagesOrganisateurs" class="bordureGrise">
	<%=translation.PROFIL_LIST_WALK_BENEVOLE%>
<p>
      <table id="listeVillageOrganisateurs" class="tableau">
	      <thead>
	      <tr>
	          <td><%=translation.PROFIL_LIST_WALK_NAME%></td>
	          <td><%=translation.PROFIL_LIST_WALK_NUMBER_BENEVOLE%></td>
	          <td><%=translation.PROFIL_LIST_WALK_ENTER%></td>
	      </tr>
	      </thead>
	      <tbody>
	          <%
	          if (villagesOrganisateurs!== undefined){
	          villagesOrganisateurs.forEach(function(village) { %>
	        <tr id="<%= village._id %>">
	          <td><%= village.nom %></td>
	          <td><%= village._benevoles.length %></td>
	          <td><a href="/village?villageId=<%= village._id %>"><button><%=translation.PROFIL_LIST_WALK_ENTER%></button></a></td>
	        </tr>
	          <% });
	          }%>
	      </tbody>
	  </table>
	 
  </div>
<% }%>
