 <%
	if (!(villagesInteresses!== undefined && villagesInteresses.length==0){ %>
<div id="villagesInteresses" class="bordureGrise">
	<%=translation.PROFIL_LIST_WALK_INTERREST%>
<p>
      <table id="listeVillageInteresse" class="tableau">
	      <thead>
	      <tr>
	          <td><%=translation.PROFIL_LIST_WALK_NAME%></td>
	          <td><%=translation.PROFIL_LIST_WALK_ACCESS%></td>
	      </tr>
	      </thead>
	      <tbody>
	          <%
	          if (villagesInteresses!== undefined){
	          villagesInteresses.forEach(function(village) { %>
	        <tr id="<%= village._id %>">
	          <td><%= village.nom %></td>
	          <td><a href="/village?villageId=<%= village._id %>"> <button><%=translation.PROFIL_LIST_WALK_ACCESS%></button></a></td>
	        </tr>
	          <% });
	          }%>
	      </tbody>
	  </table>
  </div>
<% }%>
