<div id="villagesParticipants" class="bordureGrise">
 <%
	if (villagesParticipants!== undefined && villagesParticipants.length==0){ %>
	<%=translation.PROFIL_NO_PARTICIPATION%>
	<% } else { %>
	<%=translation.PROFIL_LIST_WALK%>
<p>
      <table id="listeVillageParticipant" class="tableau">
	      <thead>
	      <tr>
	          <td><%=translation.PROFIL_LIST_WALK_NAME%></td>
	          <td><%=translation.PROFIL_LIST_WALK_ACCESS%></td>
	      </tr>
	      </thead>
	      <tbody>
	          <%
	          if (villagesParticipants!== undefined){
	          villagesParticipants.forEach(function(village) { %>
	        <tr id="<%= village._id %>">
	          <td><%= village.nom %></td>
	          <td><a href="/village?villageId=<%= village._id %>"> <button><%=translation.PROFIL_LIST_WALK_ENTER%></button></a></td>
	        </tr>
	          <% });
	          }%>
	      </tbody>
	  </table>
	  <% }%>
  </div>
