<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link href="/stylesheets/accueil.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body onload="InitialiserCarte();">
<% include ../partials/nav.ejs %>

<div class="container">

    Choose your language:
    <ul>
        <li><a class="<%=(lang=="fr"?"active":"")%>" href="/?clang=fr">Français</a></li>
        <li><a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">English</a></li>
    </ul>

    <h1 class="text-center couleurVert"><%=translation.HOME_TITLE%></h1>
    </br>
    <div class="text-justify description">
        <%=translation.HOME_DESCRIPTION%>
        </br></br>
        <%
        var nbEngagementDejaFait =0
        var nbEngagementPris =0
        var nbEngagementRealise =0
        villages.forEach(function(village) {
            village._engagements.forEach(function (engagement) {
                if (engagement._informationParticipantEngagement != undefined) {
                    engagement._informationParticipantEngagement.forEach(function (informationParticipantEngagement) {
                        if (informationParticipantEngagement.statutEngagement == "Déja fait") {
                            nbEngagementDejaFait += 1;
                        }
                        if (informationParticipantEngagement.statutEngagement == "Je m'engage") {
                            nbEngagementPris += 1;
                        }
                        if (informationParticipantEngagement.statutEngagement == "Fait") {
                            nbEngagementRealise += 1;
                        }

                    });
                }
            });
        });
        %>

        <div class ="center">
            <%=translation.HOME_ACTION_0%>
            </br>
            <%=translation.HOME_ACTION_1%><b><%- nbEngagementDejaFait %></b>  <%=translation.HOME_ACTION_2%><b><%- nbEngagementPris %></b> <%=translation.HOME_ACTION_3%> </br>
            <a href ="https://onestpret.fr/" target="blank" >On est prêt</a>. <%=translation.HOME_ACTION_4%>
        </div>
        </br>
        </br>
        <%=translation.HOME_REFERENT_0%><a href ="https://ensemblepourleclimat.fr/village?villageId=5bd8d8c3ebc6f56f25d0a844" target="blank" ><%=translation.HOME_REFERENT_EXAMPLE%></a>
        </br>
        <%=translation.HOME_REFERENT_1%>

    </div>

    </br>
    <!-- <p class="text-center">Cliquez sur la carte ou dans la liste en bas de page pour sélectionner la marche qui vous intéresse et accéder à tous ses détails.</p> -->
    </p>

    <% include ./accueil/carte.ejs %>

    </p>

    <% include ./accueil/listeVillage.ejs %>

    </p>
</div>
</body>

<% include ../partials/footer.ejs %>


</html>


<script>


    $(".navbar-nav li").removeClass("active");
    $("#accueil_Icone").addClass("active");
</script>
