    
    <div id="infoActivite" class=" hide">
     <div class="titre">
         <%=translation.HOME_ACTIVITY_DETAIL%>
        <div id="fermerInfoActivite" class="croix"> 
        X
      </div>
      </div>
       <div class="bordure"> 
         <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_DETAIL_ACTIVITY%></b></div>
          <div class="col-sm-9" id="nomActivite"></div>
        </div>
        <div class="row"> 
          <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_DESCRIPTION%></b></div>
          <div class="col-sm-9" id="descriptionActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_NUMBER_PLACE%></b></div>
          <div class="col-sm-9" id="nbPlaceActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_MATERIAL%></b></div>
          <div class="col-sm-9" id="materielActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_BIKE%></b></div>
          <div class="col-sm-9" id="lienVelorution"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_HOUR%></b></div>
          <div class="col-sm-9" id="horaireActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PLACE%></b></div>
          <div class="col-sm-9" id="lieuActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_ADRESS%></b></div>
          <div class="col-sm-9" id="adresseActivite"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_TYPE%></b></div>
          <div class="col-sm-9" id="typeActivite"></div>
        </div>
        <div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR%></b></div>
          <div class="col-sm-9" id="nomPorteur0"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_DESCRIPTION%></b></div>
          <div class="col-sm-9" id="descriptionPorteur0"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_WEBSITE%></b></div>
          <div class="col-sm-9" id="siteWebPorteur0"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_EMAIL%></b></div>
          <div class="col-sm-9" id="adresseMailPorteur0"></div>
        </div>

        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR%></b></div>
          <div class="col-sm-9" id="nomPorteur1"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_DESCRIPTION%></b></div>
          <div class="col-sm-9" id="descriptionPorteur1"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_WEBSITE%></b></div>
          <div class="col-sm-9" id="siteWebPorteur1"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_EMAIL%></b></div>
          <div class="col-sm-9" id="adresseMailPorteur1"></div>
        </div>

        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR%></b></div>
          <div class="col-sm-9" id="nomPorteur2"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_DESCRIPTION%></b></div>
          <div class="col-sm-9" id="descriptionPorteur2"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_WEBSITE%></b></div>
          <div class="col-sm-9" id="siteWebPorteur2"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PORTEUR_EMAIL%></b></div>
          <div class="col-sm-9" id="adresseMailPorteur2"></div>
        </div>
        </div>
      

         <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_QUARTER%></b></div>
          <div class="col-sm-9" id="quartier"></div>
        </div>
        <div class="row"> 
           <div class="col-sm-3"><b><%=translation.HOME_ACTIVITY_PARTICIPANT_NUMBER%></b></div>
          <div class="col-sm-9" id="nbParticipant"></div>
        </div>
        <div class="row">
            <% if (village._horairesOuvertures!=null && !(village.horsFetesDesPossible!= undefined && village.horsFetesDesPossible)){
            if(moment.utc(village._horairesOuvertures[0].dateDebut.getTime()).isAfter(moment("2018-10-30"))){ %>

          <button type="submit" id="suppressionParticipantActivite" class="btn btn-default couleurbginverse "><%=translation.HOME_ACTIVITY_DETAIL_UNSUSCRIBE%></button>
          <button type="button"  id="ajoutParticipantActivite" class="btn btn-default couleurbg"><%=translation.HOME_ACTIVITY_DETAIL_SUBCRIBE%></button>
            <% }} %>
          <div class="hide" id="activiteId" ></div>
        </div>
      </div>
    </div>
<% include ./popinFormation.ejs %>
<script>
 $("#fermerInfoActivite").click(function(event) {
       $("#infoActivite").addClass("hide");
        });
</script>