
<!-- popin -->
<div class="modal fade" id="popinEngagement" tabindex="-1" role="dialog" aria-labelledby="popinLabel" aria-hidden="true">
  <form method="get" action="/ajoutParticipantEngagement" id="popinEngagement">
    <input type="text" style="display:none" name ="villageId" id="villageId" value="<% if(typeof village  !== undefined && village!=null){ %><%= village._id %><% } %>" />
    <input type="text" style="display:none" name ="activiteId" id="activiteIdPopin" />



      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popinLabel">Engagement</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


            <%
            village._engagements.forEach(function(engagement) {
            %>
            <%- engagement.nom %> : </br>
            <%- engagement.description %>
            <div class="center-block">
              <div class="row ">
                <div class="col-xs-6 center-block " style="float:none">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" name="<%= engagement.id %>" value="Déja fait"<%       if(engagement._informationParticipantEngagement!= undefined) {
                    engagement._informationParticipantEngagement.forEach(function (informationParticipantEngagement) {
                    if (utilisateur!=undefined && informationParticipantEngagement.participant._id.equals(utilisateur._id) && informationParticipantEngagement.statutEngagement == "Déja fait") {
                    %>checked <%}}); }%>/>
                    <label class="form-check-label engagement-label" for="dejafait">Je le fait déja</label>
                  </div>
                </div>
                <div class="col-xs-6 center-block " style="float:none">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" name="<%= engagement.id %>" value="Je m'engage"<%
                    if(engagement._informationParticipantEngagement!= undefined) {
                    engagement._informationParticipantEngagement.forEach(function (informationParticipantEngagement) {
                    if (utilisateur!=undefined && informationParticipantEngagement.participant._id.equals(utilisateur._id) && informationParticipantEngagement.statutEngagement == "Je m'engage") {
                    %>checked <%}}); }%>/>
                    <label class="form-check-label engagement-label" for="dejafait"
                    >Je m'engage</label>
                  </div>
                </div>
                <%       if(engagement._informationParticipantEngagement!= undefined) {
                engagement._informationParticipantEngagement.forEach(function (informationParticipantEngagement) {
                if (utilisateur!=undefined && informationParticipantEngagement.participant._id.equals(utilisateur._id) && (informationParticipantEngagement.statutEngagement == "Je m'engage" || informationParticipantEngagement.statutEngagement == "Fait")) {
                %>
                <div class="col-xs-6 center-block " style="float:none">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" name="<%= engagement.id %>" value="Fait"<%       if(engagement._informationParticipantEngagement!= undefined) {
                    engagement._informationParticipantEngagement.forEach(function (informationParticipantEngagement) {
                    if (utilisateur!=undefined && informationParticipantEngagement.participant._id.equals(utilisateur._id) && informationParticipantEngagement.statutEngagement == "Fait") {
                    %>checked <%}}); }%>/>
                    <label class="form-check-label engagement-label" for="dejafait">Fait</label>
                  </div>
                </div>
                <%}}); }%>

              </div>
            </div>
            </br>

            <%

            });
            %>




            </br>
          </br>
            <div class="form-check">
              <input type="checkbox" required class="form-check-input" name="rgpd"/>
              <label class="form-check-label  engagement-label" for="rgpd">En m’inscrivant sur ce formulaire, je recevrai des informations sur les engagements. Je pourrai demander à tout moment de cesser de recevoir des informations via un lien de désinscription, et je pourrai demander l'accès et la suppression de mes données personnelles.</label>
            </div>

            <div>
              </br>
              <% if(utilisateur == undefined){ %>
              </br>
              En confirmant tes engagements, tu seras invité à créer ton compte utilisateur (si tu n’en as pas déjà créé un) ou à t'identifier.
              </br>Tu recevras ensuite une confirmation de tes engagements par mail avec les infomations. Merci et à bientôt !
              <% }else {%>
              </br>
              En confirmant ton inscription, tu recevras une confirmation de tes engagements par mail. Merci et à bientôt !
              <%}%>
            </div>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-default couleurbg" id="ok">Valider les engagements</button>
          </div>
        </div>
      </div>
  </form>	
</div>
