<!--                   Section organisateur           -->  

  <% if (typeof accesscontrol !== "undefined" && accesscontrol!=null && typeof utilisateur !== "undefined" && utilisateur!=null ) { 
       if ( utilisateur.role!=null &&  accesscontrol.can(utilisateur.role).readAny('organisateur').granted || contientUtilisateur(village._organisateurs)|| contientUtilisateur(village._referents)){ %>
  %>
<%=translation.WALK_SECTION_INTEREST_NUMBER%> <%= village._organisateurs.length %>
  <div class="afficher-cacher-filtre"> <span class="ouvrirOrganisateur"><%=translation.WALK_SECTION_ORGANISATOR_LIST_SHOW%></span> <span class="fermerOrganisateur hide"><%=translation.WALK_SECTION_ORGANISATOR_LIST_HIDE%></span></div>
 <p>
 <div id="organisateur" style="display:none">
    <%=translation.WALK_SECTION_ORGANISATOR_LIST_TITLE%>
      <table id ="listeOrganisateurs">
        <thead>
        <tr>
            <td><%=translation.WALK_SECTION_ORGANISATOR_LIST_NAME%> </td>
            <td><%=translation.WALK_SECTION_ORGANISATOR_LIST_FIRSTNAME%></td>
            <td><%=translation.WALK_SECTION_ORGANISATOR_LIST_FIRSTNAME%></td>
            <td><%=translation.WALK_SECTION_ORGANISATOR_LIST_PHONE%></td>
            <td><%=translation.WALK_SECTION_ORGANISATOR_LIST_CUTIME%></td>
        </tr>
        </thead>
        <tbody>
            <%
            village._organisateurs.forEach(function(organisateur) { %>
          <tr id="<%= organisateur._id %>">
            <td><%= organisateur.nom %></td>
            <td><%= organisateur.prenom %></td>
            <td><%= organisateur.adresseMail %></td>
            <td><%= organisateur.telephone %></td>
            <td><% if(typeof organisateur.createdAt !== "undefined" && organisateur.createdAt!=null){%>  <%= moment.utc(organisateur.createdAt).locale("fr").format('DD/MM/YY HH:mm') %><% } %></td>
          </tr>
            <% });%>
        </tbody>
    </table>
  </div>
     <% } 
     }
     %>

<script>
$('.ouvrirOrganisateur').on('click',function(){
    $('#organisateur').slideDown();
    $('.ouvrirOrganisateur').addClass("hide");
    $('.fermerOrganisateur').removeClass("hide");
});
$('.fermerOrganisateur').on('click',function(){
    $('#organisateur').slideUp();
    $('.ouvrirOrganisateur').removeClass("hide");
    $('.fermerOrganisateur').addClass("hide");
});

$.fn.dataTable.moment('DD/MM/YY HH:mm'); 
$('#listeOrganisateurs').DataTable( {
    responsive: true,
    "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
       "order": [[ 4, "asc" ]]
} );
</script>