<h2 style="color: #098048;">R&eacute;f&eacute;rent en attente de validation&nbsp;</h2>
<p>Bonjour,</p>
<p>Vous &ecirc;tes r&eacute;f&eacute;rent de la marche {{nomEtape}} et <strong>{{prenom}} {{nom}}</strong> Email :{{email}}  s'est manifest&eacute; pour &ecirc;tre &eacute;galement r&eacute;f&eacute;rent de la marche.</p>
<p>Vous pouvez valider sa demande depuis l'outil dans l'<a href="https://ensemblepourleclimat.fr/profil/referent">onglet R&eacute;f&eacute;rent de Mon Profil</a>&nbsp;ou directement depuis ce <a href="https://ensemblepourleclimat.fr/profil/validerReferent?villageId={{villageId}}&referentId={{referentId}}">lien</a>.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Le collectif Ensemble pour le climat</strong></p>
<p><strong>&nbsp;</strong></p>
