<%
	if (villagesReferent!== undefined && villagesReferent.length!=0){ %>
<div class="bordureGrise">
	<%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_TITLE%>


	  <table id="listeParticipant" class="tableau">
	      <thead>
	      <tr>
	          <td><%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_WALK_NAME%></td>
	          <td><%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_ACTIVITY_NAME%></td>
	          <td><%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_USER_NAME%></td>
	          <td><%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_USER_FIRSTNAME%></td>
	          <td><%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_USER_EMAIL%></td>
	          <td><%=translation.PROFIL_REFERENT_ACTIVITY_PARTICIPATION_LIST_USER_PHONE%></td>
	      </tr>
	      </thead>
	      <tbody>
	          <%
	          if (villagesReferent!== undefined){

	          villagesReferent.forEach(function(village) { 
	          	village._activites.forEach(function(activite) { 
	          	if(activite._participants.length>0){
	          		activite._participants.forEach(function(participant) { 
	          	%>

	        <tr>
				<td><%= village.nom %></td>
				<td><a href="/village?villageId=<%= village._id %>&activiteId=<%=activite.id%>"> <button><%= activite.nom %></button></a></td> 
				<td><%= participant.prenom %></td>
				<td><%= participant.nom %></td>
				<td><%= participant.adresseMail %></td>
				<td><%= participant.telephone %></td> 
				
   			 </tr>
          <% 		
          		});
          		}
        	  });
           });
          }%>
	      </tbody>
	  </table>
</div>
<script>
$('#listeParticipant').DataTable( {
        responsive: true,
        bSortable: false
    } );
</script>
</br>
</br>
<% }%>